<h2 class="mt-8">Distribuição de Tarefas por Categoria</h2>
<div class="w-full">
  <canvas id="categoriesChart" class="w-full h-64"></canvas>
</div>

<h2 class="mt-8">Estatística das tarefas totais realizadas</h2>
<div class="w-full">
  <canvas id="tasksChart" class="w-full h-64"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const loadChartData = () => {
      fetch('/charts.json')
        .then(response => response.json())
        .then(data => {
          const ctx = document.getElementById('tasksChart').getContext('2d');
          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ['Total', 'Concluídas', 'Em andamento', 'Arquivadas'],
              datasets: [{
                label: 'Tarefas Totais',
                data: [data.total, data.completed, data.in_progress, data.archived],
                backgroundColor: [
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(75, 192, 192, 0.5)',
                  'rgba(45, 162, 12, 0.5)',
                  'rgba(255, 99, 132, 0.5)'
                ],
                borderColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(45, 162, 12, 1)',
                  'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                y: {
                  beginAtZero: true,
                  ticks: {
                    stepSize: 1
                  }
                }
              }
            }
          });



          const ctxPie = document.getElementById('categoriesChart').getContext('2d');
          const categoryLabels = Object.keys(data.categories);
          const categoryData = Object.values(data.categories);
          
          new Chart(ctxPie, {
            type: 'pie',
            data: {
              labels: categoryLabels,
              datasets: [{
                data: categoryData,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.5)',
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(255, 206, 86, 0.5)',
                  'rgba(75, 192, 192, 0.5)',
                  'rgba(153, 102, 255, 0.5)',
                  'rgba(255, 159, 64, 0.5)'
                ],
                borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                legend: {
                  position: 'right',
                  labels: {
                    padding: 20
                  }
                }
              }
            }
          });
        });
    };

    const statisticsTab = document.querySelector('[data-tab-target="#tab2"]');
    statisticsTab.addEventListener('click', loadChartData);

    if (window.location.hash === '#tab2') {
      loadChartData();
    }
  });
</script>