<div id="<%= dom_id commitment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= commitment.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= commitment.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Progress:</strong>
    <%= commitment.progress %>
  </p>

</div>
